@media screen and (max-width:400px){


	main {
		max-width: 400px !important;
	}



footer {
	width: 100%;
     max-width: 400px !important;
     min-width: 300px;
}


.nobp.article-body {
	padding: 0 !important;
}


.nobp.article-body {
	width: 100%;
     max-width: 400px !important;
 }

.page-wrapper.nobp {
    width: 100%;
    max-width: 400px !important;
    margin: auto;
}


.page-header__wrapper{
	width: 100%;
    max-width: 400px !important;
}
  

.article-body {
	padding: 0 !important;
}

.nobp.page-content{
	width: 100%;
    max-width: 400px !important;
}


.page-content{
	width: 100%;
    max-width: 400px !important;
}


.navi{
	width: 250px !important;
}

.mobile-menu.no-animation{
	width: 400px;
}

.mobile-menu__wrapper{
	width: 400px;
}


.navi__links__main.nav-list.nav-list--main.nav-list--main--desktop{
	display: flex;
    flex-wrap: wrap;
    width: 400px;
}

h1{
	width: 100%;
    max-width: 400px !important;
}


span{
	width: 100%;
    max-width: 400px !important;
}


.mobile-header{
	width: 100%;
    max-width: 400px !important;
}


.mobile-header-h1{
	width: 100%;
    max-width: 400px !important;
    font-size: 2.25rem !important;
}


.no-mobile{
	display: none;
}

.page-content{
	display: none;
}


.navi__links__utils.nav-list.nav-list--util-nav.nav-list--util-nav--desktop{
	display: none;
}

.navi__links__main.nav-list.nav-list--main.nav-list--main--desktop {
	width: 250px;
}

.sharingbar__inner {
	padding: 0 !important;
}

.mobile-menu.no-animation {
    width: 250px;
}

.datetime--article {
    padding: 0 !important;
}